<div>
  <form [formGroup]="headerForm">
    <table mat-table [dataSource]="rows()">
      <!-- Columna Caracter -->
      <ng-container matColumnDef="caracter">
        <th mat-header-cell *matHeaderCellDef>Caracter</th>
        <td mat-cell *matCellDef="let row">
          <input [formControl]="getFormControl(row, 'caracter')" />
        </td>
      </ng-container>

      <!-- Columna Valor (con input en el encabezado) -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>
          <input placeholder="Valor" formControlName="titleValue" />
        </th>
        <td mat-cell *matCellDef="let row">
          <input [formControl]="getFormControl(row, 'value')" />
        </td>
      </ng-container>

      <!-- Encabezado y filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </form>
  <div class="button-container">
    <button (click)="addRow()">Agregar fila</button>
    <button (click)="removeRow()">Eliminar fila</button>
  </div>

  <button (click)="show()">Mostrar</button>
</div>
